<nav *ngIf="user">
  <a class="button" style="cursor: pointer" *ngIf="verificarUsuarioPossuiRole(['PROFESSOR'])" (click)="listaAlunos()">Lista de Alunos | </a>
  <a class="button" style="cursor: pointer" *ngIf="verificarUsuarioPossuiRole(['PROFESSOR'])" (click)="novoAluno()">Criar Aluno | </a>
  <a class="button" style="cursor: pointer" *ngIf="verificarUsuarioPossuiRole(['ADMIN'])" (click)="novoPais()">Criar País | </a>
  <a class="button" style="cursor: pointer" *ngIf="verificarUsuarioPossuiRole(['ADMIN'])" (click)="novoUsuario()">Criar Usuário | </a>
  <a class="button" style="cursor: pointer" *ngIf="verificarUsuarioPossuiRole(['ADMIN'])" (click)="listaUsers()">Lista de Users | </a>
  <a class="button" style="cursor: pointer" (click)="logout()">Logout |</a>
</nav>

<app-alert></app-alert>
<router-outlet></router-outlet>
