<h2>Alunos List</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <!-- <th scope="col">Observações</th> -->
      <th scope="col">Interesses</th>
      <th scope="col">Number Filter</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let aluno of alunos; index as i"
      (click)="selecionarAluno(aluno)"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <label>{{ aluno.nome }}</label
        ><img
          style="width: 25px; height: 25px; margin-left: 10px;"
          [src]="getCountryImage(aluno)"
          [alt]="aluno.pais.nome"
          [title]="aluno.pais.nome"
        />
      </td>
      <!-- <td>{{ aluno.observacoes }}</td> -->
      <td>{{ aluno.interesses }}</td>
      <td>{{ 1000 | number }}</td>
    </tr>
  </tbody>
</table>
